<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resumo da locação:</h1>
    <h2>Olá, {{ name }}!</h2>
    <h2>Confirmamos sua locação. Veja os detalhes abaixo:</h2>
    <h3>CNH: {{ cnh }}</h3>
    <h3>Placa do veículo: {{ plate }}</h3>
    <h3>Data de locação: {{ rental_date }}</h3>
    <h3>Previsão de retorno: {{ return_date }}</h3>
    <h3>Total de dias alugados: {{ total_days }}</h3>
    <h3>Quilometragem fixa: {{ fixed_km }}</h3>
    <h3>Quilometragem inicial do veículo: {{ initial_km }}</h3>
    <p>Para maiores informações, favor entrar em contato com nossa equipe.</p>

</body>
</html>