<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resumo da devolução:</h1>
    <h2>Olá, {{ name }}!</h2>
    <h2>Confirmamos a devolução do veículo. Veja os detalhes abaixo:</h2>
    <h3>CNH: {{ cnh }}</h3>
    <h3>Placa do veículo: {{ plate }}</h3>
    <h3>Data de locação: {{ rental_date }}</h3>
    <h3>Data de retorno: {{ real_return_date }}</h3>
    <h3>Total de dias alugados: {{ rental_real_total_days }}</h3>
    <h3>Quilometragem fixa: {{ fixed_km }}</h3>
    <h3>Quilometragem final do veículo: {{ final_km }}</h3>
    <h3>Valor total a ser pago: {{ rental_real_value }}</h3>
    <p>Uma vistoria será realizada no veículo no ato da devolução. Danos ou ausência de itens serão de responsabilidade do locador e estarão sujeitos a cobrança adicional</p>

</body>
</html>